.card {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;

    @media (max-height: 760px) {
        width: 200px;
    }

    .image {
        width: 100%;
        height: 360px;
        overflow: hidden;
        position: relative;
        cursor: pointer;

        @media (max-height: 760px) {
            height: 300px;
        }


        &:hover {
            .secondImg {
                z-index: 2;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            pointer-events: none;
        }

        .mainImg {
            z-index: 1;
        }

        span {
            position: absolute;
            left: 5px;
            top: 5px;
            color: teal;
            background-color: white;
            padding: 3px;
            z-index: 3;
            font-size: .675rem;
            font-weight: 500;
        }
    }

    h2 {
        font-size: 16px;
        font-weight: 600;
    }

    .prices {
        display: flex;
        gap: 10px;

        h3 {
            font-size: 18px;
            font-weight: 700;
            color: #F45984;

        }

        .oldPrice {
            color: gray;
            font-weight: 400;
            text-decoration: line-through;
            text-decoration-color: rgb(41, 40, 41, .8);
            text-decoration-thickness: 1.9px;
        }
    }
}
