.featuredProducts {
    margin: 100px 200px;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            flex: 2;
            font-size: 1.5rem;
            text-transform: capitalize;
        }

        span {
            flex: 3;
            color: gray;
            font-size: 0.9rem;
            line-height: 1.5;
        }
    }

    .bottom {
        margin-top: 50px;
        margin: auto;
        // display: flex;
        // gap: 50px;
        // justify-content: center;
        // align-items: center;
    }
}


.slick-slide>div {
    display: grid;
    place-items: center;
}

.slick-slide {
    margin-top: 3em;
}


.slides {
    position: relative;

    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;
    }

    .slick-prev {

        &::before {
            color: rgba(128, 128, 128, 0.7);
        }
    }

    .slick-next {
        &::before {
            color: rgba(128, 128, 128, 0.7);
        }
    }
}
