.categories {
    display: grid;
    height: 80vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 40vh);
    grid-template-areas:
        'item-1 item-2 item-3 item-4'
        'item-5 item-6 item-7 item-8'
    ;
    margin: 50px;
    gap: 5px;

    .item {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .4s ease-out;
        filter: brightness(50%);

        &:hover {
            filter: brightness(100%);
        }

    }


    button {
        position: absolute;
        min-width: 100px;
        width: fit-content;
        max-height: 40px;
        height: 30px;
        padding: 8px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        cursor: pointer;
        border: none;
        background-color: white;
        text-transform: uppercase;
        font-weight: 500;
        font-size: .625rem;

        span {
            color: white;
            mix-blend-mode: difference;
        }

        &::before {
            transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            content: '';
            width: 0%;
            height: 100%;
            background: black;
            position: absolute;
            top: 0;
            left: 0;
        }

        &:hover {
            img #image {
                filter: brightness(100%);
            }

            &::before {
                background: black;
                width: 100%;
            }

        }

    }

    .item-1 {
        grid-area: 'item-1';
        background-color: red;
    }

    .item-2 {
        grid-area: 'item-2';
        grid-row: span 2;
        background-color: pink;

        img {
            grid-row: span 2;
        }
    }

    .item-3 {
        grid-area: 'item-3';
        background-color: black;
    }

    .item-4 {
        grid-area: 'item-4';
        background-color: orange;
    }

    .item-5 {
        grid-area: 'item-5';
        background-color: brown;
    }

    .item-6 {
        grid-area: 'item-7';
        grid-column: span 2;
        background-color: gray;
    }

}