.slider {
    height: calc(100vh - 80px);
    width: 100vw;
    position: relative;
    overflow: hidden;

    .container {
        width: 300vw;
        height: 100%;
        display: flex;
        transition: all .8s ease;


        img {
            width: 100vw;
            height: 100%;
            object-fit: cover;
        }
    }

    .icons {
        display: flex;
        width: fit-content;
        position: absolute;
        bottom: 50px;
        margin: auto;
        gap: 25px;
        left: 0;
        right: 0;

        .icon {
            cursor: pointer;
            width: 50px;
            height: 50px;
            border: 1px solid #999;
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
        }
    }
}