.filter {
    flex: 1;
    position: sticky;
    height: 100%;
    top: 80px;

    .filterItem {
        margin-bottom: 30px;

        h2 {
            font-weight: 400;
            margin-bottom: 20px;
            text-transform: capitalize;
        }

    }

    .inputItem {
        margin-bottom: 10px;

        label {
            margin-left: 10px;
            text-transform: capitalize;
        }
    }
}
