.search {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    position: relative;

    .search-input {
        border-radius: 4px;
        animation: sampleTest .3s linear forwards;
        display: flex;
        justify-content: space-between;
        align-items: center;
        outline: 1px solid gray;
        border: none;

        .icon {
            position: absolute;
            right: 0%;
            color: gray;
            animation: asd 0.2s linear forwards 0.1s;
            opacity: 1;

        }

        .icon-reverse {
            display: none;
        }

        input {
            outline: none;
            border: none;
            padding: 2px;
            margin-left: 6px;
            animation: sampleTest .3s linear forwards;

            &::placeholder {
                color: gray;
                font-weight: normal;
            }
        }
    }

    .search-icon {
        animation: fade 875ms linear forwards -600ms;
        position: absolute;
        right: 0;
    }

    .reverse {
        animation: sampleTest .3s linear;
        animation-direction: reverse;
    }
}

@keyframes fade {
    55% {
        opacity: 0;
        height: 18px;
        width: 18px;
        padding: 2px 4px;

    }

    100% {
        opacity: 1;
        padding: 0;
    }
}

@keyframes sampleTest {
    0% {
        width: 0%;
        opacity: 0;
    }

    100% {
        width: 100%;
        opacity: 1;
    }
}

@keyframes asd {

    100% {
        height: 18px;
        width: 18px;
        padding: 2px 4px;
        opacity: 1;
    }
}
